@{
}

<div class="menu">
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Home" asp-action="GetData">Data API</a>
    <a asp-controller="Home" asp-action="Secret">Secret</a>
</div>

